
#overlay{
    filter: brightness(50%);
}


@media only screen and (max-width: 763px) {
    .customFluid{
        width: 200px;
        
    }
    .customColumn {
        flex-direction: column;
        align-items: center;
    }
    .customFlex{
        flex-direction: column;
    }
}

@media only screen and (min-width: 764) and ( max-width: 992px){
    .customFlex{
        flex-direction: column;
    }   
}